<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538860340695-mk8sm57cbe7n2qb3dbka4ra0mbs6fh46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538860340695-mk8sm57cbe7n2qb3dbka4ra0mbs6fh46</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>538860340695-88sispejrria9kbvsqvick4j956t7bbf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-iKxrBdOmB4mSjMBpzMCzC1mo6zQ3zpk</string>
	<key>GCM_SENDER_ID</key>
	<string>538860340695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.thegivingkitchen.gkios</string>
	<key>PROJECT_ID</key>
	<string>thegivingkitchen-cdd28</string>
	<key>STORAGE_BUCKET</key>
	<string>thegivingkitchen-cdd28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538860340695:ios:652a75c061883143</string>
	<key>DATABASE_URL</key>
	<string>https://thegivingkitchen-cdd28.firebaseio.com</string>
</dict>
</plist>